---
import fs from 'fs';
import path from 'path';
import matter from 'gray-matter';
import Layout from '@/layouts/Layout.astro';
import NoFooter from "@/layouts/NoFooter.astro";
const projectsDirectory = path.resolve('./src/content/projects');
const files = fs.readdirSync(projectsDirectory);

const projects = files.map((file) => {
  const filePath = path.join(projectsDirectory, file);
  const content = fs.readFileSync(filePath, 'utf-8');
  
  const { data: { title, description, link, date, tags } } = matter(content);
  const parsedDate = new Date(date);
  return { title, description, link, date: parsedDate, tags };
});

projects.sort((a, b) => b.date.getTime() - a.date.getTime());

---
<NoFooter>
  <div id="project-container">
    <div id="project-wrapper">
      <h1>My Projects</h1>
      <div class="projects-list">

        {projects.map((project) => (
            <sl-card class="card-header">
              <div slot="header">
                  {project.title}
                  <sl-icon-button name="stars" href={project.link} target="_blank" label="Settings"></sl-icon-button>
              </div>

              {project.description}
              
              <small>{project.date.toLocaleDateString()}</small>
              <div slot="footer">
                  {project.tags.map((tag: any) => (
                      <sl-badge >{tag}</sl-badge>
                  ))}
              </div>
            </sl-card>
        ))}

      </div>
    </div>
  </div>
</NoFooter>

<style>
  h1 {
    text-align: center;
  }
  #project-container {
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  #project-wrapper {
    overflow-y: auto;
    justify-content: center;
    align-items: center;
  }
  .projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  small {
    font-size: 0.9rem;
    color: #777;
  }
  .card-header {
    max-width: 300px;
    padding: 10px;
  }
  .card-header [slot='header'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  sl-badge::part(base)  {
    background-color: var(--sl-color-orange-400);
  }
  .card-header h3 {
    margin: 0;
  }
  .card-header sl-icon-button {
    font-size: var(--sl-font-size-medium);
    color: var(--sl-color-orange-300);
  }
  .card-header sl-icon-button::part(base):hover  {
    color: var(--sl-color-orange-100);
  }
  @media screen and (min-width: 1536px) {
    .projects-list{
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
    .card-header {
      font-size: 1.7rem;
      max-width: 450px;
    }
  }
</style>